body{
    font-family:'Roboto Condensed', sans-serif;
    margin:0;
}
section{
    max-width: calc(100% - 300px);
    margin: 50px auto;
    padding: 20px 20px;
    box-shadow: 0px 0px 5px black;
}
section>h1{
    margin-bottom: 30px;
}
table{
    width: 100%;
}